{{- $fontsDir := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontsDir = "Library/Fonts" -}}
{{- else -}}
{{-   $fontsDir = ".local/share/fonts" -}}
{{- end -}}
"{{ $fontsDir }}/LXGWWenKaiMono-Light.ttf":
  type: file
  url: "https://raw.githubusercontent.com/lxgw/LxgwWenKai/main/fonts/TTF/LXGWWenKaiMono-Light.ttf"
  checksum:
    sha256: "e4d22716a148d4ee820b9a4f63886a1d52dd68b4fa5826cc5e2dec55977f7930"

"{{ $fontsDir }}/LXGWWenKaiMono-Medium.ttf":
  type: file
  url: "https://raw.githubusercontent.com/lxgw/LxgwWenKai/main/fonts/TTF/LXGWWenKaiMono-Medium.ttf"
  checksum:
    sha256: "7a674f448b15a1b3df781c3498973d77f71d270788f7f921080c1344e9d739e1"

"{{ $fontsDir }}/LXGWWenKaiMono-Regular.ttf":
  type: file
  url: "https://raw.githubusercontent.com/lxgw/LxgwWenKai/main/fonts/TTF/LXGWWenKaiMono-Regular.ttf"
  checksum:
    sha256: "bc068e4e395c396f2909ffdfac3a3751578b73ed3d64a79c9c31bfa84e43debe"

"{{ $fontsDir }}/SauceCodeProNerdFontMono-Light.ttf":
  type: file
  url: "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Light.ttf"
  checksum:
    sha256: "174a8568bbe56fc67c2d5f210897c63fec0452fcbb02e8ea1b1dcf163b376d7d"

"{{ $fontsDir }}/SauceCodeProNerdFontMono-Medium.ttf":
  type: file
  url: "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Medium.ttf"
  checksum:
    sha256: "95ab3d5f724535554ec040633d4e7adb237d18d4050bda0e7fa92c7c213b475a"

"{{ $fontsDir }}/SauceCodeProNerdFontMono-Regular.ttf":
  type: file
  url: "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Regular.ttf"
  checksum:
    sha256: "6d687bfc41b42de0984ff58c43bf98115472027337a2e0980e8b1ecabe466099"
