# 最后更新: {{ now | date "2006-01-02 15:04:05" }} @ {{ .chezmoi.hostname }}

encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age19gcw664etls2mh30kdrvsq4e6uzfphzpl0xr7cnpdt7wmhrkac2q3h65td"

[edit]
command = "nvim"
